<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue">
            <button @click="handleSubmit">提交</button>
        </div>
        <ul>
            <todo-item
                v-for="(item, index) of list"
                :key="index"
                :content="item"
                :index="index"
                @delete="handleDelete"
            >

            </todo-item>
        </ul>
    </div>

    <script>
        // 全局组件
        Vue.component('todo-item', {
            props: ['content', 'index'], // props接收外部传递来的数据：content
            template: '<li @click="handleClick">{{content}} {{index}}</li>',
            methods: {
                handleClick: function () {
                    // 子
                    this.$emit('delete', this.index)
                }
            }
        })

        // 局部组件
        // var TodoItem = {
        //     template: '<li>item</li>'
        // }

        new Vue({
            el: "#root",
            // components: {
            //   'todo-item': TodoItem
            // },
            data: {
                inputValue: '',
                list: []
            },
            methods: {
                handleSubmit: function () {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                },
                handleDelete: function (index) {
                    // alert(index)
                    this.list.splice(index, 1) // 删除指定index的元素
                }
            }
        })
    </script>
</body>
</html>
